<p id="notice"><%= notice %></p>

<h1>欲しいグッズ</h1>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Remark</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wanted_items.each do |wanted_item| %>
      <tr>
        <td><%= wanted_item.quantity %></td>
        <td><%= wanted_item.remark %></td>
      </tr>
    <% end %>
  </tbody>
</table>
