/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .main-nav {
  display: flex;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
  justify-content: flex-end;
 }
 .main-nav li {
  margin-right: 10px;
 }
 .page-header {
  padding: 10px 0; /* 上下のパディングを小さくする */
}


 body {
  padding-bottom: 100px; /* フッターの高さより少し大きめの値を設定 */
}

/* スマートフォン向けのスタイル */
@media (max-width: 576px) {
  footer {
    padding: 10px 0; /* モバイルではフッターのパディングを調整 */
  }
  .form-group label {
    font-size: 14px;
  }
  .form-control {
    font-size: 14px;
  }
  h1, h2 {
    font-size: 18px;
  }
}

