// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
text-center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-center-container p,
.text-center-container h1,
.text-center-container a {
  text-align: center;
  width: 100%;
}

.hidden {
  display: none;
}

.image-file {
  display: inline-block;
  padding: 5px 8px;
  cursor: pointer;
  background-color: #f8f9fa;
  border: 1px solid #000;
  border-radius: 4px;
}